* {
    margin: 0px;
    padding: 0px;
}


/* common shered styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* header related styles */
.banner {
    display: flex;
    width: 1920;
    height: 850px;
    background-color: rgba(229, 84, 115, 0.10);
    align-items: center;

}

.banner-content {
    width: 800px;

}

.banner-greeting {
    color: #272727;
    font-size: 80px;
    font-weight: 700;
    width: 708px;
    margin-left: 150px;


}

.banner-description {
    width: 700px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 150px;
    padding-top: 20px;
    padding-bottom: 20px;



}

.btn-primary {
    margin-left: 150px;
    padding: 20px 43px;
    border-radius: 8px;
    background-color: #E55473;
}



.banner .flower-pic {
    width: 635px;
    height: 800px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 0px;
}

/* main related style */

.section-title {
    color: #272727;
    margin-left: 720px;
    font-size: 40px;
    font-weight: 700;
    margin-top: 178px;
    padding-bottom: 12px;
}

.section-description {
    width: 694px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 630px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 30px;

}

/* about-box */

.about-box {
    padding-left: 226px;
    padding-right: 226px;
    display: flex;
    justify-items: center;
    gap: 24px;
}

.box-pic {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15)
}

.box-title {
    display: flex;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* .banner-2 related style */
.banner-2 {
    display: flex;
    width: 1920px;
    height: 600px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 100px;

}

.offer-section {

    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.banner-2-description {
    display: flex;
    width: 594px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.about-offer {
    margin-left: 300px;
    padding-top: 220px;

}

.red-flower {
    padding-top: 100px;
    padding-right: 1175px;


}

/* boxes related section */

.boxes-flo {
    display: flex;
    gap: 24px;
    margin-right: 240px;
    margin-left: 240px;
}

.about-media {
    margin-right: 623px;
}

.media {
    margin-left: 550px;
    margin-top: 128px;
    margin-bottom: 128px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 700;

}

.media-description {
    width: 650px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 40px;
    margin-left: 663px;
    text-align: center;

}

/* Section-last-part related style */

.background-image {
    margin-left: 240px;
    margin-top: 100px;
    margin-bottom: 100px;
}

..container {
    position: relative;
    text-align: center;
    color: white;
  }

/* footer-related-style */


.footer-banner {
    width: 1922px;
    height: 449px;
    background: #111010;
}

.footer-title {

    color: white;
    font-size: 48px;
    font-weight: 700px;
    margin-left: 829px;
    padding-bottom: 12px;
    padding-top: 210px;



}

.primary{
    color:  #E55473;
}

.footer-description {
    width: 625px;
    text-align: center;
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 648px;
    padding-top: 12px;
    

}